//
   Created by ryanki10 on 10/09/15.


div.bidsell.box
  div.header.box
    div.currency-pair
      span.currency-pair.
        EUR/USD
    div.trading-mode
    div.time
      span.badge.red.
        1
      span.time.
        11:25:26
      span.x.
        x
  div.upper-body
    span.low.
      1.45235
    span.current-spread.badge.white.
      2.7
    span.high.
      1.46381
  div.lower-body
    div.bid.box
      div.numbers
        span.cent.
          1.46
        span.pip.
          13
        div.arrow-pipette
          span.pipette.
            3
          span.arrow.
            ^
      div.sell-action.
        Sell
    span.trading-size.box.
      100
    div.ask.box
      div.numbers
        span.cent.
          1.46
        span.pip.
          16
        div.arrow-pipette
          span.pipette.
            0
          span.arrow.
            ^
      div.buy-action.
        Buy