//
   Created by ryanki10 on 10/09/15.


div.bidsell
   div.header
      div.currency-pair
      div.trading-mode
      div.time
   div.footer
      div.current-spread
   div.body
      div.bid
         div.cent
         div.pip
         div.pipette
      div.trading-size
      div.ask
         div.cent
         div.pip
         div.pipette