@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./bower_components/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(./bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
  url(./bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
  url(./bower_components/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

// Rules for sizing the icon.
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons {
  &.badge { color: red; }
  &.mid-price-up { color: green; }
  &.mid-price-holds { color: grey; }
  &.mid-price-down { color: red; }
}

md-select  {
  &.md-default-theme {
    .md-select-label {
      border-bottom-color: transparent;
    }
  }
  padding: 5px;
  font-weight: bold;
}

md-slider.md-default-theme[disabled].md-slider-ask .md-thumb:after {
  background-color: rgb(255,64,129);
  border-color: rgb(255,64,129);
}
md-slider.md-default-theme[disabled].md-slider-sell .md-thumb:after {
  background-color: green;
  border-color: green;
}

md-tooltip {
  .yellow {
    color: yellow;
  }
}

$bidsell-width: 100%;
$bidsell-height: 235px;
$bidsell-header-height: 36px;

.quote-box-page {
  .bidsell {

    height: $bidsell-height;
    width: $bidsell-width;

    .header {
      .currency-pair {
        md-select,  md-select:focus .md-select-label {
          margin: 6px;
          &.mid-price-up {
            background-color: green
          }
          &.mid-price-holds {
            background-color: grey;
          }
          &.mid-price-down {
            background-color: red;
          }
          .md-select-value {
            border-bottom-color: transparent;
            color: white;
          }
        }
      }
    }
    .upper-body {
      margin-top: 10px;
      .min-price {
        text-align: left;
      }
      .max-price {
        text-align: right;
      }
      b {
        color: blue;
      }
    }

    .lower-body {
      position: relative;
      height: 100%;

      .slider-ask, .slider-sell {
        display: inline-flex;
        width: 100%;
      }

      .bid, .ask {
        position: relative;
        top: 5px;
        left: 0;
        float: left;
        width: 50%;
        height: 66px;
      }
      .current-spread-value {
        text-align: center;
        font-size: small;
        font-weight: bolder;
        color: white;
        background-color: blue;
      }
      .numbers {
        height: 65%;
      }
      .trading-size-input {
        text-align: center;
      }
    }

    .badge {
      &.red {
        background-color: red;
        color: white;
      }
      &.white {
        background-color: white;
        color: red;
      }
    }
    &.box, .box {
      border: 1px solid black;
    }
    .label {
      text-align: center;
    }
  }
  .button-actions {
    height: 80px;
  }
  .cp {
    cursor: pointer;
  }
}


/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
