//
   Created by ryanki10 on 10/09/15.

div.quote-box-component
  md-content.bidsell(id="quoteBox")
    md-toolbar.header.md-primary
      div.md-toolbar-tools
        div.currency-pair.cp
          md-select(ng-model="currencyPairSelection" ng-class="{'mid-price-up': qBox.direction === 1, 'mid-price-down': qBox.direction === -1, 'mid-price-holds': qBox.direction === 0}")
            md-option(ng-repeat='currencyPair in currencyPairs' value='{{currencyPair}}').
              {{currencyPair}}
          md-tooltip(md-direction="bottom").
            Currency pair
        div.trend-pointer
          md-button.md-icon-button
            md-icon.material-icons.md-24.mid-price-up(ng-if="qBox.direction === 1" md-svg-icon="./bower_components/material-design-icons/action/svg/design/ic_trending_up_24px.svg" aria-label="Mid-Price Up")
            md-icon.material-icons.md-24.mid-price-holds(ng-if="qBox.direction === 0" md-svg-icon="./bower_components/material-design-icons/action/svg/design/ic_trending_flat_24px.svg" aria-label="Mid-Price flat")
            md-icon.material-icons.md-24.mid-price-down(ng-if="qBox.direction === -1" md-svg-icon="./bower_components/material-design-icons/action/svg/design/ic_trending_down_24px.svg" aria-label="Mid-Price down")
          md-tooltip(ng-if="qBox.direction === 1" md-direction="bottom").
            Average-mid-price up
          md-tooltip(ng-if="qBox.direction === 0" md-direction="bottom").
            Average-mid-price holds
          md-tooltip(ng-if="qBox.direction === -1" md-direction="bottom").
            Average-mid-price down
        div.badge.cp
          md-button.md-icon-button
            md-icon.badge.material-icons.md-18(md-svg-icon="./bower_components/material-design-icons/image/svg/design/ic_looks_one_24px.svg" aria-label="Trading group")
            md-tooltip(md-direction="bottom").
              Trading group
        div.time(flex layout layout-align="center center" hide-sm)
          time.
            {{qBox['quote-date-time']}}
        span(flex show-sm hide-gt-sm)
        div.form-action-close.cp(layout)
          md-button.md-icon-button
            md-icon.material-icons.md-18(md-svg-icon='./bower_components/material-design-icons/navigation/svg/design/ic_close_24px.svg' aria-label="Close Quote")
              md-tooltip(md-direction="bottom").
                Close
    div.upper-body
      div.min-max-price(layout="row")
        span(flex="10")
        div.min-price.cp
          span.
            {{qBox['price-min-string'].substr(0,3)}}<b>{{qBox['price-min-string'].substr(3,3)}}</b>{{qBox['price-min-string'].substr(6,1)}}
          md-tooltip(md-direction="bottom").
            Minimum Price
        span(flex).
          &nbsp;
        div.max-price.cp
          span(flex).
            {{qBox['price-max-string'].substr(0,3)}}<b>{{qBox['price-max-string'].substr(3,3)}}</b>{{qBox['price-max-string'].substr(6,1)}}
          md-tooltip(md-direction="bottom").
            Maximum Price
        span(flex="20")
    div.lower-body
      div.sliders
        div.sliders-ask.cp(layout="row")
          span.label(flex="10" layout layout-align="center center").
            Ask
          md-slider(flex ng-model="qBox['ask-start']" ng-disabled="true" min="0" max="{{qBox['price-range']}}" aria-label="ask" id="slider.ask" class="md-slider-ask")
          md-input-container(flex="15")
            input.asking-price.cp(ng-disabled="true" ng-model="qBox['ask-string']" aria-label="ask" aria-controls="slider.ask")
            span.label
              small.
                pips
          span(flex="5")
          md-tooltip(md-direction="top" md-visible="pipShowing")
            span(ng-bind-html="getAskPrice()")
        div.current-spread.cp(layout="row" layout-align="end center")
          md-input-container(flex="15")
            input.current-spread-value.cp(ng-disabled="true" aria-label="Current spread" ng-model="qBox['current-spread-string']")
          span(flex="5")
          md-tooltip(md-direction="top").
            Current spread
        div.sliders-sell.cp(layout="row")
          span.label(flex="10" layout layout-align="center center").
            Sell
          md-slider(flex ng-model="qBox['sell-start']" ng-disabled="true" min="0" max="{{qBox['price-range']}}" aria-label="sell" id="slider.sell" class="md-slider-sell")
          md-input-container(flex="15")
            input.selling-price.cp(ng-disabled="true" ng-model="qBox['sell-string']" aria-label="sell" aria-controls="slider.sell")
            span.label
              small.
                pips
          span(flex="5")
          md-tooltip(md-direction="top")
            span(ng-bind-html="getSellingPrice()")
        div.trading-size(layout="row" layout-align="center")
          md-input-container(flex="10")
            input.cp(ng-disabled="true" ng-model="qBox['trading-size-string']" aria-label="Trading size" class="trading-size-input")
          md-tooltip(md-direction="top").
            Trading size
      md-divider
      div.button-actions(layout="row" layout-align="end center")
        div.price-generator(flex="50" layout layout-align="end")
          md-button.md-primary.md-hue-3.ignition(ng-click="triggerIgnition(ignitionInterval)").
            Price ignition
        md-input-container(flex="50")
          label.
            Frequency in seconds
          input(type="number" ng-model="ignitionInterval" aria-label="Quotebox Interval" aria-controls="quoteBox")